<a href="<%= new_publisher_feed_path(@publisher) %>" class="admin-links">Add a New Feed</a>

<table>
  <thead>
    <th>Feed</th>
    <th>Type</th>
    <th>CSS Selector</th>
    <th>Last Article</th>
    <th>Next Scan</th>
    <th>Scan Frequency</th>
    <th>Max Age</th>
    <th>Active</th>
    <th></th>
  </thead>
  
  <tbody>
    <% feeds.each do |feed| %>
      <tr>
        <td><%= link_to feed.source, feed.source, target: '_blank' %></td>
        <td><%= feed.feed_type.name %></td>
        <td><%= feed.article_css_selector %></td>
        <td><%= format_date(feed.last_article_from) %></td>
        <td style="width: 120px;"><%= format_date(feed.next_scan_on, true) %></td>
        <td><%= feed.scan_frequency_in_hours %> hours</td>
        <td><%= feed.max_article_age_in_days %> days</td>
        <td><%= feed.active %></td>
        <td><%= link_to 'Edit', edit_publisher_feed_path(@publisher, feed) %>
      </tr>
    <% end %>
  </tbody>
</table>