<table>
  <thead>
    <th>Feed</th>
    <th>Type</th>
    <th>CSS Selector</th>
    <th>Last Article</th>
    <th>Next Scan</th>
    <th>Scan Frequency</th>
    <th>Max Age</th>
    <th>Active</th>
    <th></th>
  </thead>
  
  <tbody>
    <% feeds.each do |feed| %>
      <tr>
        <td><%= link_to feed.source, feed.source, target: '_blank' %></td>
        <td><%= feed.feed_type.name %></td>
        <td><%= feed.article_css_selector %></td>
        <td><%= feed.last_article_from %></td>
        <td><%= feed.next_scan_on %></td>
        <td><%= feed.scan_frequency_in_hours %> hours</td>
        <td><%= feed.max_article_age_in_days %> days</td>
        <td><%= feed.active %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %>
      </tr>
    <% end %>
  </tbody>
</table>