<div class="admin-form">
  <h2 class="article-title">
    Editing Feed For - <%= @publisher.name %>
  </h2>
  
  <%= form_for @feed, 
               url: admin_publisher_feed_path(@publisher, @feed), 
               html: {multipart: true, method: :put} do |f| %>
    
    <%= render partial: 'form', locals: {f: f, types: @types, categories: @categories} %>
  <% end %>

  <ul>
    <% feed.feed_failures.each do |f| %>
      <li>
        <%= f.severity == 0 ? 'WARN: ' : 'ERROR: ' %><%= f.message %>
      </li>
    <% end %>
  </ul>

  <div class="tabular-association">
    <%= render partial: 'shared/articles', 
               locals: {articles: @feed.articles.order(publication_date: :desc)} %>
  </div>
</div>