<div class="article-container">

    <% articles.each do |article| %>
      <% unless article.thumbnail.nil? %>

	        <a href="<%= article.target %>"
	           target="_blank"
	           title="<%= article.title %> - opens in a new tab">
						 
						 <figure>
							 <img src="<%= (article.thumbnail.start_with?('/') ?   (article.thumbnail.start_with?('/assets') ? image_path(article.thumbnail.gsub('/assets/','')) : "#{article.publisher.homepage}#{article.thumbnail}") : article.thumbnail) %>" alt="<%= article.title %>">
	 	           
							 <div class="title-card">
          			 <div class="byline">
									 <%= article.publisher.name %> - <%= freshness(article.publication_date) %>
								 </div>
								 <h4>
									 <%= article.title %>
								 </h4>
							 </div>
						 </figure>

					</a>
					
          <% if user_signed_in? %>
            <% if is_authorized?('add_publishers') || is_authorized?('edit_publishers') %>
              <a href="<%= edit_admin_publisher_feed_article_path(article.publisher, article.feed, article) %>">[Edit]</a>
            <% end %>
          <% end %>
          
      <% end %>
    <% end %>

</div>