<div>
  <% unless @featured.nil? %>
    <%= render partial: 'featured', locals: {article: @featured} %>
  <% end %>

  <div class="article-separator">
    <h2 class="article-title">Read</h2>
    <hr />
  </div>
  <%= render partial: 'shared/articles', 
             locals: {articles: @interests} %>
             
  <div class="article-separator">
    <h2 class="article-title">Watch</h2>
    <hr />
  </div>
  <%= render partial: 'shared/articles', 
             locals: {articles: @videos} %>
  
  <div class="article-separator">
    <h2 class="article-title">Listen</h2>
    <hr />
  </div>
  <%= render partial: 'shared/articles', 
             locals: {articles: @podcasts} %>
  
  <div class="article-separator">
    <h2 class="article-title">Racing</h2>
    <hr />
  </div>
  <%= render partial: 'shared/articles', 
             locals: {articles: @racing} %>
</div>