<div id="about" class="col-md-10">  

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= (@method == 'Categories' ? 'active' : '') %>" 
         href="<%= explore_path %>?method=Categories">By Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= (@method == 'Regions' ? 'active' : '') %>" 
         href="<%= explore_path %>?method=Regions">By Region</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= (@method == 'Publishers' ? 'active' : '') %>" 
         href="<%= explore_path %>?method=Publishers">By Publisher</a>
    </li>
  </ul>

  <h2><%= @method %></h2>
  <div class="row">
    <% @items.each do |item| %>  
      <div class="col-md-4">
        <a href="<%= item[:target] %>" title="<%= item[:title] %>">
         
          <figure style="background-image: url('<%= image_path(item[:thumbnail]) %>')" 
                  alt="<%= item[:title] %>">
           
            <div class="title-card">
              <h4><%= item[:title] %></h4>
            </div>
          </figure>
        </a>
      </div>
    <% end %>
  </div>
</div>