<nav class="navbar navbar-footer" ng-controller="MenuController">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= about_path %>">About</a></li>
        <li><a href="<%= new_contact_path %>">Contact</a></li>
        <li><a href="<%= advertise_path %>">Advertise</a></li>
        <% if current_user.nil? %>
          <li><a href="<%= login_path %>">Log In</a></li>
        <% else %>
          <li><a href="<%= logout_path %>">Log Out</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>