<div class="menu">

  <div id="menu-left">
    <ul class="nav">
      <li>
        <a href="<%= root_path %>" 
           class="<%= (current_page?(root_path) ? 'selected' : '') %>">
          Latest
        </a>
      </li>
      <li>
        <a href="<%= explore_path %>" 
           class="<%= (current_page?(explore_path) ? 'selected' : '') %>">
          Deep Dive
        </a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      
      <% if user_signed_in? %>
        <% if is_authorized?('add_publishers') || is_authorized?('edit_publishers') %>
          <li>
            <a href="<%= admin_publishers_path %>" 
               class="<%= (current_page?(admin_publishers_path) ? 'selected' : '') %>">
              [Publishers]
            </a>
          </li>
          <li>
            <a href="<%= admin_this_week_path %>" 
               class="<%= (current_page?(admin_this_week_path) ? 'selected' : '') %>">
              [This Week]
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div id="menu-right">
    <div class="fb-like" 
         data-href="http://www.marinerreport.com/" 
         data-layout="button" 
         data-action="like" 
         data-show-faces="true" 
         data-ref="marinerreport.com"
         data-width="62px"
         data-share="false"></div>
  </div>
  
</div>