<ul class="nav justify-content-center border-bottom">
  <li class="nav-item">
    <a href="<%= root_path %>" 
       class="nav-link <%= (current_page?(root_path) ? 'active' : '') %>">
      Latest
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= explore_path %>" 
       class="nav-link <%= (current_page?(explore_path) ? 'active' : '') %>">
      Deep Dive
    </a>
  </li>
  <li class="nav-item">
    <a href="/blog" class="nav-link">Blog</a>
  </li>
  
  <% if user_signed_in? %>
    <% if is_authorized?('add_publishers') || is_authorized?('edit_publishers') %>
      <li class="nav-item">
        <a href="<%= admin_publishers_path %>" 
           class="nav-link <%= (current_page?(admin_publishers_path) ? 'active' : '') %>">
          [Publishers]
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= admin_categories_path %>" 
           class="nav-link <%= (current_page?(admin_categories_path) ? 'active' : '') %>">
          [Categories]
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= admin_this_week_path %>" 
           class="nav-link <%= (current_page?(admin_this_week_path) ? 'active' : '') %>">
          [This Week]
        </a>
      </li>
    <% end %>
  <% end %>

  <li class="nav-item">
    <div class="fb-like" 
         data-href="http://www.marinerreport.com/" 
         data-layout="button" 
         data-action="like" 
         data-show-faces="true" 
         data-ref="marinerreport.com"
         data-width="62px"
         data-share="false"></div>
  </li>
</ul>